<%= render "navbar" %>
<div class="container">
  <div style="text-align: center">
    <br>
    <h1><%= @itinerary.destination_name %> Itinerary</h1>
  </div>
  <table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><strong>Reciever</strong></td>
        <td><%= link_to @receiver.to_s, receiver_path(@receiver), style: "color: black"%></td>
      </tr>
      <tr>
        <td><strong>Destination</strong></td>
        <td><%= @itinerary.destination_name%></td>
      </tr>
      <tr>
        <td><strong>Address</strong></td>
        <td><%= @itinerary.destination_address%></td>
      </tr>
      <tr>
        <td><strong>Airline</strong></td>
        <td><%= @itinerary.airline%></td>
      </tr>
      <tr>
        <td><strong>Flight Number</strong></td>
        <td><%= @itinerary.flight_number%></td>
      </tr>
      <tr>
        <td><strong>Gate Number</strong></td>
        <td><%= @itinerary.gate_number%></td>
      </tr>
      <tr>
        <td><strong>Seat Number</strong></td>
        <td><%= @itinerary.seat_number%></td>
      </tr>
      <tr>
        <td><strong>Departure Airport Code</strong></td>
        <td><%= @itinerary.departure_airport_code%></td>
      </tr>
      <tr>
        <td><strong>Departure Date</strong></td>
        <td><%= @itinerary.departure_date%></td>
      </tr>
      <tr>
        <td><strong>Departure Flight Time</strong></td>
        <td><%= @itinerary.departure_flight_time%></td>
      </tr>
      <tr>
        <td><strong>Return Airport Code</strong></td>
        <td><%= @itinerary.return_airport_code%></td>
      </tr>
      <tr>
        <td><strong>Return Date</strong></td>
        <td><%= @itinerary.return_date%></td>
      </tr>
      <tr>
        <td><strong>Return Flight Time</strong></td>
        <td><%= @itinerary.return_flight_time%></td>
      </tr>
  </tbody>
</table>
</div>
