<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
        <%= form_with( url: '/sessions', method: :post ) do | form | %>
        <div id="logo-container"></div>
        <div class="form-group">
          <%= form.label "Email" %>
          <%= form.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label "Password" %>
          <%= form.password_field :password, class: "form-control" %>
        </div>
        <div style="text-align: center">
        <%= form.submit value="Login"%><br>
        <br>
        <small><%= link_to "Not Registered Yet? Create an Account!", new_user_path %></small>
        </div>
        <% end %>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
      </div>
    </div>
  </div>
</div>
