<%= render "navbar" %>

<div class="container">
<h2 style="text-align: center"><%= @event.name%></h2>
<div>
  <h4><label>Date/Time</label></h4>
    <%= @event.d_t %>
</div>
<br>
<div>
  <h4><label>Description</label></h4>
    <%= @event.description %>
</div>

<br>

<div style="text-align: center">
  <button type="button" class="btn btn-info"><%= link_to "See All Receivers Going", event_receivers_path(@event.id)%><br>
</div>
<br>

<div style="text-align: center">
  <% if @event.users.include?(@user) %>
    <button type="button" class="btn btn-info">
  <%= link_to "Edit Event", edit_event_path(@event.id)%></button>
  <% end %>
  <br>
</div>
